
h1 {
  color : blue;
}

.question {
  font-size: 30px;
  text-align: center;
}

.questions{
    border: 2px solid #a1a1a1;
    padding: 10px 40px;
    background: #dddddd;
    border-radius: 25px;
    max-width:500px;
    margin: auto;
  }
body {
    text-align: center;
    background: url("images/seigaiha.png");
  }
