
h1 {
  color : blue;
}

.question {
  font-size: 30px;
}

.questions{
    border: 2px solid #a1a1a1;
    padding: 10px 40px;
    background: #dddddd;
    width: 300px;
    border-radius: 25px;
    text-align: center;
}
body{
  text-align: center;
}
span{
  text-align: center;
}
